CONFIG PART = xc6slx45t-fgg484-3;
CONFIG STEPPING = "ES";

# UCF
# ** System **
NET "clk200_n"                      LOC = "K22";   ##
NET "clk200_p"                      LOC = "K21";   ##
NET "clk200_p" TNM_NET = "clk200_p";
TIMESPEC "TS_clk200_p" = PERIOD "clk200_p" 5000 ps;

TIMESPEC TS_clk0_to_px_clk_tig = FROM "dlsc_sp605_clocks_clk0_pre" TO "dlsc_dcm_clkgen_px_clk_clk_pre" TIG;
TIMESPEC TS_px_clk_to_clk0_tig = FROM "dlsc_dcm_clkgen_px_clk_clk_pre" TO "dlsc_sp605_clocks_clk0_pre" TIG;

NET "btn<0>"                  LOC = "F3";    ## 2   on SW4 pushbutton (active-high)
NET "btn<1>"                  LOC = "G6";    ## 2   on SW7 pushbutton (active-high)
NET "btn<2>"                  LOC = "F5";    ## 2   on SW5 pushbutton (active-high)
NET "btn<3>"                  LOC = "C1";    ## 2   on SW8 pushbutton (active-high)
NET "led<0>"    LOC = "D17" |IOSTANDARD = LVCMOS25;    # DS3
NET "led<1>"    LOC = "AB4" |IOSTANDARD = LVCMOS25;    # DS4
NET "led<2>"    LOC = "D21" |IOSTANDARD = LVCMOS25;    # DS5
NET "led<3>"    LOC = "W15" |IOSTANDARD = LVCMOS25;    # DS6

# ** RS232 **
NET "ser_rts"                     LOC = "F18";   ## rts out
NET "ser_cts"                     LOC = "F19";   ## cts in
NET "ser_tx"                      LOC = "B21";   ## data out
NET "ser_rx"                      LOC = "H17";   ## data in

# ** FMC-LPC **
#NET "fmc_pcie_tx_n"                 LOC = "A16";   ## C3  on J2
#NET "fmc_pcie_tx_p"                 LOC = "B16";   ## C2  on J2
#NET "fmc_pcie_rx_p"                 LOC = "C15";   ## C7  on J2
#NET "fmc_pcie_rx_n"                 LOC = "D15";   ## C6  on J2
#NET "fmc_pcie_clk_n"             LOC = "F12";   ## D5  on J2
#NET "fmc_pcie_clk_p"             LOC = "E12";   ## D4  on J2
NET "jb_bp<7>"                LOC = "G11";   ## H5  on J2
NET "jb_bn<7>"                LOC = "H12";   ## H4  on J2
NET "jb_ap<7>"                LOC = "F16";   ## G3  on J2
NET "jb_an<7>"                LOC = "E16";   ## G2  on J2
NET "jc_an<7>"                 LOC = "F10";   ## G7  on J2
NET "jc_ap<7>"                 LOC = "G9";    ## G6  on J2
NET "jc_bp<7>"                 LOC = "F15";   ## D9  on J2
NET "jc_bn<7>"                 LOC = "F14";   ## D8  on J2
NET "jb_bn<6>"                    LOC = "F9";    ## H8  on J2
NET "jb_bp<6>"                    LOC = "G8";    ## H7  on J2
NET "jb_ap<6>"                    LOC = "A18";   ## G10 on J2
NET "jb_an<6>"                    LOC = "B18";   ## G9  on J2
NET "jc_bp<6>"                    LOC = "A19";   ## H11 on J2
NET "jc_bn<6>"                    LOC = "C19";   ## H10 on J2
NET "jc_an<6>"                    LOC = "A4";    ## D12 on J2
NET "jc_ap<6>"                    LOC = "C4";    ## D11 on J2
#NET "fmc_unused"                    LOC = "D5";    ## C11 on J2
#NET "fmc_pcie_rst_n"                    LOC = "D4";    ## C10 on J2
NET "jc_ap<5>"                    LOC = "A2";    ## H14 on J2
NET "jc_an<5>"                    LOC = "B2";    ## H13 on J2
NET "jc_bn<5>"                    LOC = "A20";   ## G13 on J2
NET "jc_bp<5>"                    LOC = "B20";   ## G12 on J2
NET "ja_bp<3>"                    LOC = "F8";    ## D15 on J2
NET "ja_bn<3>"                    LOC = "F7";    ## D14 on J2
NET "ja_an<3>"                    LOC = "H11";   ## C15 on J2
NET "ja_ap<3>"                    LOC = "H10";   ## C14 on J2
NET "jb_bp<5>"                    LOC = "G15";   ## H17 on J2
NET "jb_bn<5>"                    LOC = "H14";   ## H16 on J2
NET "jb_an<5>"                    LOC = "G13";   ## G16 on J2
NET "jb_ap<5>"                    LOC = "H13";   ## G15 on J2
NET "ja_an<2>"                    LOC = "F17";   ## D18 on J2
NET "ja_ap<2>"                    LOC = "G16";   ## D17 on J2
NET "ja_bp<2>"                    LOC = "A17";   ## C19 on J2
NET "ja_bn<2>"                    LOC = "C17";   ## C18 on J2
NET "jc_ap<4>"                    LOC = "D19";   ## H20 on J2
NET "jc_an<4>"                    LOC = "D18";   ## H19 on J2
NET "jc_bn<4>"                    LOC = "A5";    ## G19 on J2
NET "jc_bp<4>"                    LOC = "C5";    ## G18 on J2
NET "ja_an<1>"                 LOC = "AB11";  ## D21 on J2
NET "ja_ap<1>"                 LOC = "Y11";   ## D20 on J2
NET "ja_bp<1>"                 LOC = "U12";   ## C23 on J2
NET "ja_bn<1>"                 LOC = "T12";   ## C22 on J2
NET "jb_an<4>"                    LOC = "T11";   ## H23 on J2
NET "jb_ap<4>"                    LOC = "R11";   ## H22 on J2
NET "jb_bn<4>"                    LOC = "R8";    ## G22 on J2
NET "jb_bp<4>"                    LOC = "R9";    ## G21 on J2
NET "jb_bn<3>"                    LOC = "W11";   ## H26 on J2
NET "jb_bp<3>"                    LOC = "V11";   ## H25 on J2
NET "jc_ap<3>"                    LOC = "W8";    ## G25 on J2
NET "jc_an<3>"                    LOC = "V7";    ## G24 on J2
NET "jc_bn<3>"                    LOC = "V9";    ## D24 on J2
NET "jc_bp<3>"                    LOC = "U9";    ## D23 on J2
NET "jc_ap<2>"                    LOC = "AB14";  ## H29 on J2
NET "jc_an<2>"                    LOC = "AA14";  ## H28 on J2
NET "jc_bn<2>"                    LOC = "Y14";   ## G28 on J2
NET "jc_bp<2>"                    LOC = "W14";   ## G27 on J2
NET "jb_an<3>"                    LOC = "U13";   ## D27 on J2
NET "jb_ap<3>"                    LOC = "U14";   ## D26 on J2
NET "fmc_led<1>"                    LOC = "AB10";  ## C27 on J2
NET "fmc_led<2>"                    LOC = "AA10";  ## C26 on J2
NET "jc_ap<1>"                    LOC = "AB16";  ## H32 on J2
NET "jc_an<1>"                    LOC = "AA16";  ## H31 on J2
NET "jc_bn<1>"                    LOC = "U15";   ## G31 on J2
NET "jc_bp<1>"                    LOC = "T15";   ## G30 on J2
NET "jb_bp<2>"                    LOC = "AB15";  ## H35 on J2
NET "jb_bn<2>"                    LOC = "Y15";   ## H34 on J2
NET "jb_an<2>"                    LOC = "V15";   ## G34 on J2
NET "jb_ap<2>"                    LOC = "U16";   ## G33 on J2
NET "jb_ap<1>"                    LOC = "Y18";   ## H38 on J2
NET "jb_an<1>"                    LOC = "W17";   ## H37 on J2
NET "jb_bn<1>"                    LOC = "AB17";  ## G37 on J2
NET "jb_bp<1>"                    LOC = "Y17";   ## G36 on J2

# ** VGA **

NET "dlsc_sp605_core/dlsc_vga_inst/dlsc_vga_output_inst/px_en" TIG; # feeds async reset on dvi pads; not timing critical

NET "dvi_scl" LOC = "W13" |IOSTANDARD = LVCMOS25 |PULLUP;
NET "dvi_sda" LOC = "AA4" |IOSTANDARD = LVCMOS25 |PULLUP;

NET "dvi_gpio" LOC = "D22" |IOSTANDARD = LVCMOS25 |PULLUP;

NET "dvi_reset_b" LOC = "L15" |IOSTANDARD = LVCMOS25 |PULLUP;

NET "dvi_xclk_p" LOC="C20";
NET "dvi_xclk_n" LOC="C22";
NET "dvi_d<0>" LOC="K16";
NET "dvi_d<1>" LOC="U19";
NET "dvi_d<2>" LOC="T20";
NET "dvi_d<3>" LOC="N16";
NET "dvi_d<4>" LOC="P16";
NET "dvi_d<5>" LOC="M17";
NET "dvi_d<6>" LOC="M18";
NET "dvi_d<7>" LOC="R15";
NET "dvi_d<8>" LOC="R16";
NET "dvi_d<9>" LOC="P17";
NET "dvi_d<10>" LOC="P18";
NET "dvi_d<11>" LOC="R17";
NET "dvi_de" LOC="J17";
NET "dvi_h" LOC="J16";
NET "dvi_v" LOC="B22";

# ** MIG **
CONFIG VCCAUX=2.5; # Valid values are 2.5 and 3.3
CONFIG MCB_PERFORMANCE= EXTENDED;

NET "dlsc_sp605_mig/memc?_wrapper_inst/mcb_ui_top_inst/mcb_raw_wrapper_inst/selfrefresh_mcb_mode" TIG;
NET "dlsc_sp605_mig/c?_pll_lock" TIG;
INST "dlsc_sp605_mig/memc?_wrapper_inst/mcb_ui_top_inst/mcb_raw_wrapper_inst/gen_term_calib.mcb_soft_calibration_top_inst/mcb_soft_calibration_inst/DONE_SOFTANDHARD_CAL*" TIG;

NET "mcb3_dram_dq[*]"                                 IN_TERM = NONE;
NET "mcb3_dram_dqs"                                   IN_TERM = NONE;
NET "mcb3_dram_dqs_n"                                 IN_TERM = NONE;
NET "mcb3_dram_udqs"                                  IN_TERM = NONE;
NET "mcb3_dram_udqs_n"                                IN_TERM = NONE;

NET  "mcb3_dram_dq[*]"                               IOSTANDARD = SSTL15_II  |OUT_TERM = UNTUNED_50;
NET  "mcb3_dram_a[*]"                                IOSTANDARD = SSTL15_II  |OUT_TERM = UNTUNED_50;
NET  "mcb3_dram_ba[*]"                               IOSTANDARD = SSTL15_II  |OUT_TERM = UNTUNED_50;
NET  "mcb3_dram_dqs"                                 IOSTANDARD = DIFF_SSTL15_II  |OUT_TERM = UNTUNED_50;
NET  "mcb3_dram_udqs"                                IOSTANDARD = DIFF_SSTL15_II  |OUT_TERM = UNTUNED_50;
NET  "mcb3_dram_dqs_n"                               IOSTANDARD = DIFF_SSTL15_II  |OUT_TERM = UNTUNED_50;
NET  "mcb3_dram_udqs_n"                              IOSTANDARD = DIFF_SSTL15_II  |OUT_TERM = UNTUNED_50;
NET  "mcb3_dram_ck"                                  IOSTANDARD = DIFF_SSTL15_II  |OUT_TERM = UNTUNED_50;
NET  "mcb3_dram_ck_n"                                IOSTANDARD = DIFF_SSTL15_II  |OUT_TERM = UNTUNED_50;
NET  "mcb3_dram_cke"                                 IOSTANDARD = SSTL15_II  |OUT_TERM = UNTUNED_50;
NET  "mcb3_dram_ras_n"                               IOSTANDARD = SSTL15_II  |OUT_TERM = UNTUNED_50;
NET  "mcb3_dram_cas_n"                               IOSTANDARD = SSTL15_II  |OUT_TERM = UNTUNED_50;
NET  "mcb3_dram_we_n"                                IOSTANDARD = SSTL15_II  |OUT_TERM = UNTUNED_50;
NET  "mcb3_dram_odt"                                 IOSTANDARD = SSTL15_II  |OUT_TERM = UNTUNED_50;
NET  "mcb3_dram_reset_n"                             IOSTANDARD = LVCMOS15  ;
NET  "mcb3_dram_dm"                                  IOSTANDARD = SSTL15_II  |OUT_TERM = UNTUNED_50;
NET  "mcb3_dram_udm"                                 IOSTANDARD = SSTL15_II  |OUT_TERM = UNTUNED_50;
NET  "mcb3_rzq"                                      IOSTANDARD = SSTL15_II  |OUT_TERM = UNTUNED_50;
NET  "mcb3_zio"                                      IOSTANDARD = SSTL15_II  |OUT_TERM = UNTUNED_50;

NET  "mcb3_dram_a[0]"                            LOC = "K2" ;
NET  "mcb3_dram_a[10]"                           LOC = "J4" ;
NET  "mcb3_dram_a[11]"                           LOC = "E1" ;
NET  "mcb3_dram_a[12]"                           LOC = "F1" ;
NET  "mcb3_dram_a[1]"                            LOC = "K1" ;
NET  "mcb3_dram_a[2]"                            LOC = "K5" ;
NET  "mcb3_dram_a[3]"                            LOC = "M6" ;
NET  "mcb3_dram_a[4]"                            LOC = "H3" ;
NET  "mcb3_dram_a[5]"                            LOC = "M3" ;
NET  "mcb3_dram_a[6]"                            LOC = "L4" ;
NET  "mcb3_dram_a[7]"                            LOC = "K6" ;
NET  "mcb3_dram_a[8]"                            LOC = "G3" ;
NET  "mcb3_dram_a[9]"                            LOC = "G1" ;
NET  "mcb3_dram_ba[0]"                           LOC = "J3" ;
NET  "mcb3_dram_ba[1]"                           LOC = "J1" ;
NET  "mcb3_dram_ba[2]"                           LOC = "H1" ;
NET  "mcb3_dram_cas_n"                           LOC = "M4" ;
NET  "mcb3_dram_ck"                              LOC = "K4" ;
NET  "mcb3_dram_ck_n"                            LOC = "K3" ;
NET  "mcb3_dram_cke"                             LOC = "F2" ;
NET  "mcb3_dram_dm"                              LOC = "N4" ;
NET  "mcb3_dram_dq[0]"                           LOC = "R3" ;
NET  "mcb3_dram_dq[10]"                          LOC = "U3" ;
NET  "mcb3_dram_dq[11]"                          LOC = "U1" ;
NET  "mcb3_dram_dq[12]"                          LOC = "W3" ;
NET  "mcb3_dram_dq[13]"                          LOC = "W1" ;
NET  "mcb3_dram_dq[14]"                          LOC = "Y2" ;
NET  "mcb3_dram_dq[15]"                          LOC = "Y1" ;
NET  "mcb3_dram_dq[1]"                           LOC = "R1" ;
NET  "mcb3_dram_dq[2]"                           LOC = "P2" ;
NET  "mcb3_dram_dq[3]"                           LOC = "P1" ;
NET  "mcb3_dram_dq[4]"                           LOC = "L3" ;
NET  "mcb3_dram_dq[5]"                           LOC = "L1" ;
NET  "mcb3_dram_dq[6]"                           LOC = "M2" ;
NET  "mcb3_dram_dq[7]"                           LOC = "M1" ;
NET  "mcb3_dram_dq[8]"                           LOC = "T2" ;
NET  "mcb3_dram_dq[9]"                           LOC = "T1" ;
NET  "mcb3_dram_dqs"                             LOC = "N3" ;
NET  "mcb3_dram_dqs_n"                           LOC = "N1" ;
NET  "mcb3_dram_odt"                             LOC = "L6" ;
NET  "mcb3_dram_ras_n"                           LOC = "M5" ;
NET  "mcb3_dram_reset_n"                         LOC = "E3" ;
NET  "mcb3_dram_udm"                             LOC = "P3" ;
NET  "mcb3_dram_udqs"                            LOC = "V2" ;
NET  "mcb3_dram_udqs_n"                          LOC = "V1" ;
NET  "mcb3_dram_we_n"                            LOC = "H2" ;

NET  "mcb3_rzq"                                  LOC = "K7" ;
NET  "mcb3_zio"                                  LOC = "M7" ;

# ** PCIe **
NET pcie_reset_n LOC = J7 |IOSTANDARD = LVCMOS25 |PULLUP |NODELAY;
NET pcie_reset_n TIG;

NET pcie_clk_n LOC = B10;
NET pcie_clk_p LOC = A10;

NET "pcie_clk_p" TNM_NET = "pcie_clk_p";
TIMESPEC "TS_pcie_clk_p" = PERIOD "pcie_clk_p" 8000 ps;

NET dlsc_sp605_pcie/gt_refclk_out(0) TNM_NET = GT_REFCLK_OUT;
TIMESPEC TS_GT_REFCLK_OUT = PERIOD GT_REFCLK_OUT 8ns HIGH 50 % ;

INST dlsc_sp605_pcie/GT_i/tile0_gtpa1_dual_wrapper_i/gtpa1_dual_i LOC = GTPA1_DUAL_X0Y0;
NET pci_exp_txp LOC = B6;
NET pci_exp_txn LOC = A6;
NET pci_exp_rxp LOC = D7;
NET pci_exp_rxn LOC = C7;

